body{margin:0px;}

nav{
	display:flex;
	margin:0px;
	position:fixed;top:0px;width:100%;height:50px; /* 固定選單 */
	background-color: white;
}


.title{
	flex:none;
	font-size:20px;
	font-weight:bold;
	margin:10px;
}

.blank{
	flex:auto;
}

label{display:none;}
.mouse{cursor: pointer;}
input{display:none;}
ul{
	display:none;
	list-style-type:none;
	font-weight: bold;
	background-color:#E6E6F2;
	opacity:0.8;
	position:absolute;
	margin:0px;
	top:50px;
	width:100%;height:0px;
	padding:0px; /* 設了才不會存在多餘的ul空間.*/
	text-align: center;
	line-height:2.3;
	transition: height 0.1s;
}
li:hover{
	background-color:white;
}
.slide a{
	transition: 0.5s;
}


.menu{
	flex:none;width:76px;
	margin:10px;padding:5px;
	text-align:center;
	opacity:0.8;
	transition:background-color 0.3s;
}

header{
	margin-top:50px; /* 這裡要設定50，nav部分才會往下移動，紫色範圍才會正常*/
	height:300px;
	background-color:#8080C0;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:40px;
	font-weight:bold;
}

a{
	text-decoration:none;
	color:black;
}

main{
	display:flex;flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	margin-top:40px;
	margin-bottom:40px;
}


.box{
	display:inline-block;
	width:270px;
	margin:10px;
	/*background-color:#B8B8DC;*/
}

img{
	display:block;
	max-width:100%;
	height:auto;
}

h4{
	background-color:#B8B8DC;
	margin:0px;height:40px;
	text-align: center;
	line-height:3;
}

@media (max-width:1200px){
	.box{
		width:45%;
	}
	.container{
		margin-left:30px;
	}
}

@media (max-width:600px){
	.box{
		width:90%;
	}
	.menu{
		display:none;
	}
	label{
		display:block;
	}
	.burger{ /* 圖片的位置微調... */
		margin-top:5px;
	}
	
	/* 嘗試用JS實現? */
	#burger:checked+ul{ 
		display:block;
	}
}

footer{
	height:50px;
	background-color:#8080C0;
	display: flex;
	justify-content:center;
	align-items:center;
}

/* 以下在做漢堡選單的動畫功能 */
.click{
	position:fixed;top:5px;right:5px;
	cursor: pointer;
	transition: margin-right .5s;

}
.bar1, .bar2, .bar3{
	width:35px;height:5px;
	background-color:#333;
	margin: 6px 0;
	transition:0.4s;
}
.change .bar1{
	transform:rotate(-45deg) translate(-9px, 6px);
}
.change .bar2{
	opacity:0;
}
.change .bar3{
	transform:rotate(45deg) translate(-8px, -8px);
}